// color variables
$color1: #FFF;
$color2: #CCC;
$color3: black;

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

//box shadow
$box-shadow-green: inset 0 -14px 0 0 rgba(80, 214, 145, 0.3);
$box-shadow-orange: inset 0px -11px 0px 0px rgba(248, 183, 77, 0.3);
